<?xml version="1.0" ?>
<robot name="(Unsaved)" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find (Unsaved)_description)/urdf/materials.xacro" />
<xacro:include filename="$(find (Unsaved)_description)/urdf/(Unsaved).trans" />
<xacro:include filename="$(find (Unsaved)_description)/urdf/(Unsaved).gazebo" />
<link name="base_link">
  <inertial>
    <origin xyz="-0.1283566097000591 -0.00106461515978344 0.19125025666324613" rpy="0 0 0"/>
    <mass value="28.612650776803523"/>
    <inertia ixx="0.74269" iyy="2.0089" izz="1.633022" ixy="0.005445" iyz="-0.004649" ixz="0.255133"/>
  </inertial>
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://(Unsaved)_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://(Unsaved)_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

</robot>
