<?xml version="1.0" ?>
<robot name="(Unsaved)" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find (Unsaved)_description)/urdf/materials.xacro" />
<xacro:include filename="$(find (Unsaved)_description)/urdf/(Unsaved).trans" />
<xacro:include filename="$(find (Unsaved)_description)/urdf/(Unsaved).gazebo" />
<link name="base_link">
  <inertial>
    <origin xyz="0.003981162475958396 -0.18675729683389627 -0.06529999808960356" rpy="0 0 0"/>
    <mass value="78.14019627190524"/>
    <inertia ixx="6.09128" iyy="3.626928" izz="4.786914" ixy="-0.021869" iyz="-0.081953" ixz="-0.04883"/>
  </inertial>
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://(Unsaved)_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://(Unsaved)_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

</robot>
